version: '2'
services:
  app:
    build: .
    volumes:
      - .:/code
      - /tmp/indonesia:/tmp/indonesia
    depends_on:
      - mysql
  mysql:
    image: 'mysql:5.7'
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes